<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/home.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

    <title>home_page</title>
</head>
<body class="text-center mt-2">

    <div class="container-fluid mb-2  bg-secondary" id="topbar">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, rerum possimus recusandae rem ut quas fugit voluptatibus repellendus animi dolorem dignissimos deserunt, laboriosam reiciendis ea ipsa consequuntur, minus temporibus unde!</p>
        <img src="" alt="">
    </div>
<!--======================================= nav bar =======================================-->
{% include "navbar.html" %}

<!--============================================== categories ===============================================      -->

            <div class="text-center mb-4">

                <button class="category-btn" data-category="all">All</button>

                <button class="category-btn" data-category="mens_fashion">Mens Fashion</button>

                <button class="category-btn" data-category="elect">Electronics</button>

                <button class="category-btn" data-category="decors">Home Decors</button>

                <button class="category-btn" data-category="beauty">Beauty</button>

            </div>

<!--====================================product listing page-================================================-->
<div class="container mt-4">
    <div class="row">

    {% for product in products %}

        <div class="col-lg-4 col-md-6 col-sm-12 mb-4 product-card " data-category="{{ product.categories }}">


            <a href="/product/{{product.id}}" style="text-decoration:none;color:black">

                <div class="card h-100">

                    <img src="{{ url_for('static', filename='image/' + product.image) }}" class="card-img-top">

                    <div class="card-body">

                        <h5 class="card-title">{{product.name}}</h5>

                        <p class="card-text">{{product.description}}</p>

                        <h6>₹{{product.price}}</h6>

                    </div>

                </div>

            </a>

        </div>

    {% endfor %}

    </div>
</div>

<script src="{{ url_for('static', filename='js/app.js') }}"></script>

<!-- JAVASCRIPT (CATEGORY FILTER) --> 
<script> 

document.addEventListener("DOMContentLoaded", function () {

     const buttons = document.querySelectorAll(".category-btn"); 
     const products = document.querySelectorAll(".product-card"); 

     buttons.forEach(button => { button.addEventListener("click", function () { 

        const selected = this.getAttribute("data-category"); 
        products.forEach(product => {

             const category = product.getAttribute("data-category"); 
             if (selected === "all" || category === selected) { product.style.display = ""; } 
             else { product.style.display = "none"; } 
            }); 
        }); 
    }); 
}); 

</script>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

<script>

const loginForm = document.getElementById("loginForm");

loginForm.addEventListener("submit", function(e){

    e.preventDefault();   // stops page redirect

    let formData = new FormData(loginForm);

    fetch("/login", {
        method: "POST",
        body: formData
    })
    .then(response => response.json())
    .then(data => {

        if(data.success){
            location.reload();
        }
        else{
            document.getElementById("loginError").innerText = data.message;
        }

    });

});

</script>

</body>
</html>